// * {
//     color: rgb(127,236,55);
//     color: rgb(170,240,113);
//     color: rgb(58,107,212);
// }

$inner-color: rgb(255,255,255);
$outer-color: rgb(218, 170, 14);
$left-color: rgb(212,213,216);
$link-color: rgb(255,255,255);
$text-color: rgb(49,49,48);
$button-color: rgb(218,170,14);
